<div class="card">
  <div class="card-body">
    <h3 class="card-title">Your Lineup</h3>
    <hr>
    <div class="lineup-item">
      <h5 class="lineup-title">Prelude</h5>
      <p>{{lineup.prelude}}</p>
    </div>
    <div class="lineup-item">
      <h5 class="lineup-title">Family</h5>
      <p>{{lineup.family}}</p>
    </div>
    <div class="lineup-item">
      <h5 class="lineup-title">Bridal Party</h5>
      <p>{{lineup.bridalParty}}</p>
    </div>
    <div class="lineup-item">
      <h5 class="lineup-title">Processional</h5>
      <p>{{lineup.processional}}</p>
    </div>
    <div class="lineup-item">
      <h5 class="lineup-title">Unity</h5>
      <p>{{lineup.unity}}</p>
    </div>
    <div class="lineup-item">
      <h5 class="lineup-title">Recessional</h5>
      <p>{{lineup.recessional}}</p>
    </div>
    <div class="lineup-item">
      <h5 class="lineup-title">Postlude</h5>
      <p>{{lineup.postlude}}</p>
    </div>
  </div>
</div>