<div class="container">
  <form #editForm="ngForm" (ngSubmit)="updateLineup()">
    <div class="form-group">
      <div *ngIf="editForm.dirty" class="alert alert-info">
          You have made changes. Any unsaved changes will be lost!
      </div>
      <h3>Your Lineup</h3>
      <hr>
      <div class="lineup-item">
        <h5 class="lineup-title">Prelude</h5>
        <input name="prelude" [(ngModel)]="lineup.prelude" placeholder={{lineup.prelude}}>
      </div>
      <div class="lineup-item">
        <h5 class="lineup-title">Family</h5>
        <input name="family" [(ngModel)]="lineup.family" placeholder={{lineup.family}}>
      </div>
      <div class="lineup-item">
        <h5 class="lineup-title">Bridal Party</h5>
        <input name="bridalParty" [(ngModel)]="lineup.bridalParty" placeholder={{lineup.bridalParty}}>
      </div>
      <div class="lineup-item">
        <h5 class="lineup-title">Processional</h5>
        <input name="processional" [(ngModel)]="lineup.processional" placeholder={{lineup.processional}}>
      </div>
      <div class="lineup-item">
        <h5 class="lineup-title">Unity</h5>
        <input name="unity" [(ngModel)]="lineup.unity" placeholder={{lineup.unity}}>
      </div>
      <div class="lineup-item">
        <h5 class="lineup-title">Recessional</h5>
        <input name="recessional" [(ngModel)]="lineup.recessional" placeholder={{lineup.recessional}}>
      </div>
      <div class="lineup-item">
        <h5 class="lineup-title">Postlude</h5>
        <input name="postlude" [(ngModel)]="lineup.postlude" placeholder={{lineup.postlude}}>
      </div>
    </div>
    <button [disabled]="!editForm.dirty" type="submit" class="btn btn-success" >Save Changes</button>
  </form>
  <button class="btn btn-danger" (click)="cancel()" [routerLink]="['/lineup']" routerLinkActive="router-link-active" >Cancel</button>
</div>
